@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .marketBid {
        background-color: theme('colors.red.200');
    }
    .marketAsk {
        background-color: theme('colors.green.200');
    }
    [data-theme="dark"] .marketBid {
        background-color: theme('colors.red.900');
    }
    [data-theme="dark"] .marketAsk {
        background-color: theme('colors.green.900');
    }


}

h1{
    font-size: xx-large;
    font-weight: bold;
}

h2{
    font-size: x-large;
    font-weight: bold;
    color: dodgerblue;
}

h3{
    font-size: medium;
    font-weight: bold;

}

h4{
    font-size: medium;
    font-weight: bold;

}



[data-theme="dark"] .invertible {
    filter: invert(1);
}
